.block3{
    display: flex;
    margin-top: 6vw;
    column-gap: 7vw;
    @include mediaPhone{
        flex-direction: column-reverse;
        row-gap: 8vw;
        margin-top: 15vw;
    }
    &__text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 2.7vw;
    }
    &__title{
        width: 22vw;
        @include mediaPhone{
            width: 40vw;
        }
    }
    &__title:after{
        content: "";
        display: block;
        margin-top: 1.4vw;
        color: $underline-color;
        border: 0.5vw solid $underline-color;
        @include mediaPhone{
            border: 0.8vw solid;
        }
    }
    &__description{
        @include small-text;
        @include mediaPhone{
            @include small-text(24,14);
        }
    }
    &__description_bold{
        font-weight: bold;
    }
    &__image{
        width: 50%;
        @include mediaPhone{
            width: 100%;
        }
    }
}