.block-5-1{
    margin-top: 6vw;
    margin-bottom: 6vw;
    &__title{
        @include large-text(70,35);
        margin-left: 5vw;
        margin-bottom: 6vw;
        display: inline-block;
        @include mediaPhone{
            @include large-text(40,32);
        }
    }
    &__title:after{
        content: "";
        display: block;
        margin-top: 20px;
        color: $underline-color;
        border: 0.5vw solid $underline-color;
        @include mediaPhone{
            border: 0.8vw solid;
            margin-top: 2vw;
            margin-bottom: 8vw;
        }
    }
    &__contacts{
        display: flex;
        margin-left: 5vw;
        column-gap: 10vw;
        @include small-text(24,14);
        @include mediaPhone{
            margin-left: 0;
            flex-direction: column;
            row-gap: 7vw;
        }
    }
    &__info, &__people{
        display: flex;
        flex-direction: column;
        row-gap: 4vw;
        max-width: 37vw;
        @include mediaPhone{
            max-width: 100%;
            row-gap: 7vw;
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        row-gap: 2vw;
    }
    &__bold{
        font-weight: 700;
    }
}