.block1{
    min-height: 900px;
    background-image:url("./images/background.png");
    border-radius: 30px;
    @include mediaTablet{
        min-height: 700px;
    }
    @include mediaPhone{
        min-height: 600px;
    }
    &__text{
        display: flex;
        flex-direction: column;
        padding-left: 5vw;
        padding-top: 5vw;
        margin-right: 5vw;
        row-gap: 35px;
        color: white;
        max-width: 870px;
    }
    &__title{
        @include large-text (70, 55);
    }
    &__description{
        @include small-text;
    }
}